body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: crimson;
    color:white;
    margin:0;
padding: 0;
}
  h1,h2,h3{
    text-align: center;
    color :darkblue;
  }  
  p{
    font-size: 16px;
    color: black;
  }  
  nav{
    background-color:#d4e0ff;
  } 
  table{
    border-collapse: collapse;
    width: 80%;
    margin:20px auto;
  }
   table {
        border-collapse: collapse;
        }
        th,td,caption{
            border: 2px solid black;
            font-family: 'Courier New', Courier, monospace;
            padding: 0.5rem;
        }
    
  form{
    width:80%;
    margin: 20px auto;
    padding: 15px;
  }
